.wrapper {
    display: flex;
    gap: 40px;
}

.root {
    width: 220px;
    height: 280px;
    padding: 10px;
    background-color: rgba(0, 141, 210, 0.31);
}

.name {
    font-size: 32px;
}

.teamName {
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

.teamName::after {
    content: "";
    width: 100%;
    height: 2px;
    background: black;

    position: absolute;
    bottom: -2px;
    left: 0;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}