.root {
    min-height: 400px;
    padding: 20px 10px;
    margin-bottom: 60px;
    border: 3px solid black;
    border-left: none;
}

.listTitle {
    font-size: 25px;
    font-weight: 600;
}

.listItem {
    margin: 20px 20px;
}

@media (max-width: 1023px) {
    .root {
        width: 500px;
    }
}

@media (min-width: 1024px) {
    .root {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .root {
        width: 550px;
    }
}